.jumbotron {
    /* credit to igorovsyannykov-6222956 from pixabay */
    background-image: url('images/subway-2893846_1920.jpg');
}

.jumbotron-fluid {
    padding: 5%;
}

.header {
    color: white;
    font-size: 60px;
}

.card-header {
    color: #5e5e5e;
}

.animated {
    color: white;
    font-size: 20px;
}

label {
    margin-bottom: 5px;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

table {
    margin: 0 auto;
}

th {
    width: 22.5%;
    padding-bottom: 20px;
    font-weight: bold;
}

th:last-child {
    width: 9.5%;
}
