.jumbotron {
    background-color: #000000;
}

.display-4 {
    color: white;
}

.lead {
    color: white;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
}

table {
    margin: 0 auto;
}

th {
    width: 22.5%;
    padding-bottom: 20px;
    font-weight: bold;
}

th:last-child {
    width: 9.5%;
}
